 

<div class="login-wrapper">
    <form class="login">
        <label class="title">
                <h3 class="welcome">Welcome to</h3>
                ระบบรายงานข้อมูลผู้รับบริการ
            </label>
        <div class="login-group">
            <input class="username" type="text" [(ngModel)]="username" name="username" placeholder="Username">
            <input class="password" type="password" [(ngModel)]="password" name="password" placeholder="Password">
            <button type="submit" class="btn btn-primary" (click)="Login()" [disabled]="!username || !password">Login</button>
            <button type="submit" class="btn btn-primary" (click)="Cancel()">Cancel</button>
        </div>
    </form>
</div>