<clr-main-container>
    <clr-header class="header-5">
        <div class="branding">
            <a href="#" class="nav-link">
                <clr-icon shape="dashboard" class="has-badge"></clr-icon>
                <span class="title">HiReport ระบบรายงาน จังหวัดอุบลราชธานี</span>
            </a>
        </div>
        <div class="header-actions">
            <div class="branding">
                <span class="title">{{userFname}} | <a class="nav-link" href="#" (click)="logLoOut()">LOGOUT</a></span>
            </div>
        </div>
    </clr-header>

    <nav class="subnav" [clr-nav-level]="1">
        <ul class="nav">
            <clr-dropdown>
                <li class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['./home']" routerLinkActive="active" clrDropdownItem>
                        <clr-icon shape="home"></clr-icon> Home
                    </a>
                </li>
            </clr-dropdown>
            <!-- <clr-dropdown>
                <li class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['./menu']" routerLinkActive="active" clrDropdownItem>
                        <clr-icon shape="bar-chart" class="is-solid"></clr-icon> Menu
                    </a>
                </li>
            </clr-dropdown> -->
            <clr-dropdown>
                <li class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['./menuitem']" routerLinkActive="active" clrDropdownItem>
                        <clr-icon shape="file-group"></clr-icon> กลุ่มรายงาน
                    </a>
                </li>
            </clr-dropdown>
            <clr-dropdown>
                <li class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['./submenu']" routerLinkActive="active" clrDropdownItem>
                        <clr-icon shape="event"></clr-icon> เพิ่ม-แก้ไขรายงาน
                    </a>
                </li>
            </clr-dropdown>
            <clr-dropdown>
                <li class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['./setup']" routerLinkActive="active" clrDropdownItem>
                        <clr-icon shape="cog"></clr-icon> ตั้งพื้นฐาน
                    </a>
                </li>
            </clr-dropdown>
        </ul>
    </nav>

    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</clr-main-container>