<clr-main-container>
    <clr-header class="header-5">
        <div class="branding">
            <a href="#" [routerLink]="['/home']" class="nav-link">
                <clr-icon shape="dashboard" class="has-badge"></clr-icon>
                <span class="title">HiReport ระบบรายงาน จังหวัดอุบลราชธานี</span>
            </a>
        </div>

        <div *ngIf="!userFname" class="header-actions">
            <a href="#" [routerLink]="['/login']" routerLinkActive="active" class="nav-link nav-icon">LOGIN</a>
        </div>

        <div *ngIf="userFname" class="header-actions">
            <div class="branding">
                <span class="title">{{userFname}} | </span>
                <a href="#" (click)="doLogout()" routerLinkActive="active">LOGOUT</a>
            </div>
        </div>
    </clr-header>
    <div class="content-area">
        <nav class="subnav" [clr-nav-level]="2">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#" [routerLink]="['/home']" routerLinkActive="active" class="nav-link nav-icon">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" [routerLink]="['/about']" routerLinkActive="active" class="nav-link nav-icon">About</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- <div class="content-area">
        <nav class="subnav" [clr-nav-level]="1">
            ....
            <ul class="nav">
                <clr-dropdown class="active open" *ngFor="let MTyp of getMenuTyp">
                    <button class="nav-link active" clrDropdownTrigger>{{MTyp.item_name}}</button>
                    <clr-dropdown-menu *clrIfOpen>
                        <li class="nav-item" *ngFor="let Sub of getSubItem">
                            <a class="nav-link" href="#" [routerLink]="['/view',Sub.sub_item_id]" routerLinkActive="active" *ngIf="Sub.item_id === MTyp.item_id" clrDropdownItem>{{Sub.sub_item_name}}</a>
                        </li>
                    </clr-dropdown-menu>
                </clr-dropdown>
            </ul>
        </nav>
    </div> -->

 


    <div class="content-container">
        <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" [clr-nav-level]="1">
            <clr-vertical-nav-group routerLinkActive="active" *ngFor="let MTyp of getMenuTyp">
                <clr-icon clrVerticalNavIcon shape="event"></clr-icon>
                {{MTyp.item_name}}
                <clr-vertical-nav-group-children *ngFor="let Sub of getSubItem">
                    <a clrVerticalNavLink href="#" [routerLink]="['/view',Sub.sub_item_id]" routerLinkActive="active" *ngIf="Sub.item_id === MTyp.item_id">
                        <clr-icon shape="minus"></clr-icon>
                        {{Sub.sub_item_name}}
                    </a>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
        </clr-vertical-nav>

        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</clr-main-container>