<button class="btn btn-primary" (click)="Open()">เพิ่มข้อมูล</button>

<clr-datagrid>
    <clr-dg-column>ลำดับ</clr-dg-column>
    <clr-dg-column>ชื่อเมนู</clr-dg-column>
    <clr-dg-column>สถานะ</clr-dg-column>
    <clr-dg-row *clrDgItems="let x of allUser">
        <clr-dg-action-overflow>
            <button class="btn btn-primary" (click)="editData(x)">แก้ไขข้อมูล</button>
            <button class="btn btn-success" (click)="delete(x)">ลบข้อมูล</button>
        </clr-dg-action-overflow>
        <clr-dg-cell>{{x.id_user}}</clr-dg-cell>
        <clr-dg-cell>{{x.fullname}}</clr-dg-cell>
        <clr-dg-cell>{{x.is_accept}}</clr-dg-cell>
    </clr-dg-row>

    <!-- Inside the full datagrid declaration -->
    <clr-dg-footer>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} User
        <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="open" [clrModalSize]="'lg'" [clrModalClosable]="false">
    <h3 class="modal-title">From Users Name </h3>
    <div class="modal-body">
        <form>
            <section class="form-block">
                <label>Add/Edit Users</label>
                <div class="form-group">
                    <label for="aForm_2">ชื่อ-สกุล</label>
                    <input type="text" name="fullname" [(ngModel)]="fullname" size="35">
                </div>
                <div class="form-group">
                    <label for="aForm_3">Usernsme</label>
                    <input type="text" name="username" [(ngModel)]="username" size="35">
                </div>
                <div class="form-group">
                    <label for="aForm_3">Password</label>
                    <input type="text" name="password" [(ngModel)]="password" size="35">
                </div>
                <div class="form-group">
                    <label for="aForm_4">สถานะ</label>
                    <!-- <input type="text" name="varitem_status" [(ngModel)]="varitem_status" size="35"> -->
                    <div class="select">
                        <select [(ngModel)]="is_accept" name="is_accept" id="is_accept">
                            <option [value]="'Y'">เปิดการใช้งาน</option>
                            <option [value]="'N'">ปิดการใช้งาน</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="aForm_5">LevelUsers</label>
                    <!-- <input type="text" name="varitem_status" [(ngModel)]="varitem_status" size="35"> -->
                    <div class="select">
                        <select [(ngModel)]="level_id" name="level_id" id="level_id">
                            <option *ngFor="let l of allLevel" [value]="l.level_id">{{l.level_name}}</option>
                        </select>
                    </div>
                </div>

            </section>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="open = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="save()">Ok</button>
    </div>
</clr-modal>